<article class="trailer">
    <div class="trailer-info">
        <!-- Each is a paragraph which will have its information filled in dynamically -->
        <p class="trailerInfoItem trailer-title"> <span class="trailerInfoCat">Title</span>: {{title}} </p>
        <p class="trailerInfoItem trailer-url"> <span class="trailerInfoCat">URL</span>: <a href="{{url}}" >{{url}}</a>
		        <iframe width="320" height="240" src="{{url}}" frameborder="0" allowfullscreen></iframe> </p>
        <p class="trailerInfoItem trailer-tags"> <span class="trailerInfoCat">Tags</span>: {{tags}} </p>
    </div>
</article>
